.frontend-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.frontend-content a {
  color: #abdb2a;
}

.frontend-content a:hover {
  color: white;
}

.frontendList {
  text-align: start;
}
