.fullstack-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.fullstack-content p {
  max-width: 1200px;
}

.fullstack-content button {
  width: 150px;
  margin-top: 30px;
  margin-left: 10px;
  height: 50px;
  border-radius: 25px;
  background-color: #abdb2a;
  color: #121212;
  font-size: 20px;
  box-shadow: 0 0 0.5rem #abdb2a;
  border: none;
}

.fullstack-content button:hover {
  cursor: pointer;
}

.fullstack-content button:active {
  border: 3px solid #abdb2a;
  background-color: #121212;
  color: #abdb2a;
}

.fullstackList {
  text-align: start;
}

.fullstack-content a {
  color: #abdb2a;
  margin-left: 10px;
}

.fullstack-content a:hover {
  color: white;
}
