.fullstack-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.fullstack-content button {
  width: 150px;
  margin-top: 30px;
  height: 50px;
  border-radius: 25px;
  background-color: #abdb2a;
  color: #121212;
  font-size: 20px;
  box-shadow: 0 0 0.5rem #abdb2a;
  border: none;
}

.fullstack-content button:active {
  border: 3px solid #abdb2a;
  background-color: #121212;
  color: #abdb2a;
}

.fullstackList {
  text-align: start;
}

.fullstack-active {
  position: absolute;
  text-align: center;
  padding: 20px;
  height: 600px;
  width: 750px;
  left: 25%;
  top: 10%;
  background-color: #121212;
  border: 3px solid #abdb2a;
  overflow-y: scroll;
}

.fullstack-active::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.fullstack-active::-webkit-scrollbar-track {
  background: #acdb2a22;
}

.fullstack-active::-webkit-scrollbar-thumb {
  background: #abdb2a;
}

.register-text {
  color: #abdb2a;
}

.loggedIn-div {
  position: absolute;
  text-align: center;
  padding: 20px;
  height: 600px;
  width: 750px;
  top: 0;
  left: 0;
  background-color: #121212;
  border: 3px solid #abdb2a;
}

.logout-text {
  color: #abdb2a;
}
