.home-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  color: white;
  margin: 0;
  font-size: 124px;
}

.home-content div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #abdb2a;
  margin: 0;
  width: 780px;
  height: 40px;
}

.home-content h3 {
  color: #121212;
  font-family: "Open Sans";
  font-weight: 300;
}
