.contact-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content h1 {
  color: #abdb2a;
  font-size: 48px;
}

.contact-content label {
  color: #abdb2a;
  font-size: 24px;
  width: 300px;
  margin: 10px;
}

.contact-content input,
.contact-content textarea {
  width: 300px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 0 0.5rem #abdb2a;
  background-color: #323232;
  color: #abdb2a;
  padding: 0 15px;
}

.contact-content button {
  width: 150px;
  margin-top: 30px;
  height: 50px;
  border-radius: 25px;
  background-color: #abdb2a;
  color: #121212;
  font-size: 20px;
  box-shadow: 0 0 0.5rem #abdb2a;
  border: none;
}

.contact-content button:hover {
  border: 3px solid #abdb2a;
  background-color: #121212;
  color: #abdb2a;
}

.contact-content p {
  background-color: #121212;
  border: 3px solid #abdb2a;
  border-radius: 25px;
  padding: 5px;
  margin-top: 30px;
  color: #abdb2a;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 0.5rem #abdb2a;
}
