body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.fields {
  height: 75%;
  width: 75%;
}

.btn-active {
  background-color: black;
  color: white;
}

.home-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: blueviolet;
}

.frontend-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: lightcoral;
}
.backend-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: greenyellow;
}

.text-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.contact-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contact-content form {
  display: flex;
  flex-direction: column;
}

.contact-content input,
.contact-content textarea {
  width: 300px;
}

.contact-content button {
  width: 100px;
  margin-top: 10px;
}
