body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #121212;
}

/* green effects in the far corners */
.circle1 {
  background-color: #abdb2a;
  position: absolute;
  right: 0;
  top: 0;
  height: 150px;
  width: 150px;
  border-radius: 0 0 0 125px;
  z-index: 0;
  filter: blur(115px);
}

.circle2 {
  background-color: #abdb2a;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 150px;
  border-radius: 0 125px 0 0;
  z-index: 0;
  filter: blur(115px);
}

.navbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.navBtn {
  font-size: 18px;
  color: white;
  background: none;
  border: none;
  margin: 0 5px;
}

.navBtn:hover {
  color: #abdb2a;
}

.btn-active {
  font-size: 18px;
  color: white;
  background: none;
  border: none;
  margin: 0 5px;
  color: #abdb2a;
}

.fields {
  height: 95%;
  width: 100%;
}

.home-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  color: white;
  margin: 0;
  font-size: 124px;
}

.home-content div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #abdb2a;
  margin: 0;
  width: 52.5%;
  height: 40px;
}

.home-content h3 {
  color: #121212;
  font-family: "Open Sans";
  font-weight: 300;
}

.about-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.about-content h1 {
  color: white;
  font-size: 42px;
  margin-top: 30px;
  margin-left: 30px;
}

.about-content div {
  position: absolute;
  left: 49px;
  top: 150px;
  width: 75px;
  height: 5px;
  background-color: #abdb2a;
}

.about-content p {
  color: white;
  width: 40%;
  padding-left: 20px;
  padding-top: 15px;
  font-size: 14px;
  font-family: "Open Sans";
}

.frontend-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: lightcoral;
}
.backend-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: greenyellow;
}

.text-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.contact-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content h1 {
  color: #abdb2a;
  font-size: 48px;
}

.contact-content label {
  color: #abdb2a;
  font-size: 24px;
  width: 300px;
  margin: 10px;
}

.contact-content input,
.contact-content textarea {
  width: 300px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 0 0.5rem #abdb2a;
  background-color: #323232;
  color: #abdb2a;
  padding-left: 15px;
}

.contact-content button {
  width: 150px;
  margin-top: 30px;
  height: 50px;
  border-radius: 25px;
  background-color: #abdb2a;
  color: #121212;
  font-size: 20px;
  box-shadow: 0 0 0.5rem #abdb2a;
  border: none;
}

.contact-content button:hover {
  border: 3px solid #abdb2a;
  background-color: #121212;
  color: #abdb2a;
}
